body { max-width : 100% !important; overflow-x  : hidden; background-image: linear-gradient(#FFFFFF, #DFDFDF);
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    animation: 1s ease-out 0s 1 slideInLeft;

}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}